.feed{
    flex:0.6;
    margin: 0 20px;
    padding:12px;
    max-width: 50%;
}

.feed_postcontainer{
    margin-top: 80px;
    background-color: white;
    padding:10px;
    padding-bottom: 20px;
    border-radius:10px;
    margin-bottom: 50px;
}

.feedinput{
    display: flex;
    color:gray;
    padding:10px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.feedinput>form{
    display: flex;
    width: 100%;
}

.feedinput>form>input{
    flex:1; 
    outline: none;
    margin-left: 10px;
    width: 90%;
}
.feedinput>form>button{
    display: none;
}

.feed_postoptions{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}